html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto; 
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    #f5f5f5 50%
  ),
  linear-gradient(
    45deg,
    #7044ff 0%,    /* Color morado */
    #1a0eff 100%   /* Color azul */
  );
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}